pandas
numpy
matplotlib
seaborn
scikit-learn
xgboost
statsmodels
tensorflow
keras
opencv-python
scikit-image
pillow
fastapi
uvicorn
streamlit
folium
geopandas
rasterio
sdv
faker
shap
optuna
requests
jupyter
ipykernel
protobuf
holidays
ortools
pmdarima
